.answer_block {
  position: relative;
}
.edit-answer { display: none}
.answer-main {
  margin-left: 45px;
}
.edit-answer-link, .delete-answer-link { margin-right: 10px}
.mark {
  display: none;
  margin-right: 10px;
  position: absolute;
  top: 0px;
}

.mark.visible {
  display: block;
}

.answer-paragraph {max-width: 600px}
